@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-primaria: #009DFF;
    --cor-certa: #AEFFB1;
    --cor-errada: #FFA8A8;

    --border-01: 1px solid #C2C2C2;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(to bottom, #F4FAFF, #E8F9FF);
    min-height: 100vh;
    padding-bottom: 5%;
    position: relative;
}

.box-banner {
    width: 100%;
    height: 330px;
    background-image: url('/src/assets/Background.png');
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom: 3px solid var(--cor-primaria);
}

.box-banner img {
    width: 130px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid var(--cor-primaria);
}




.box-quizz {
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.box-quizz .row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-quizz .row1 h1 {
    font-size: clamp(2rem, 2vw, 3rem);
    font-weight: 500;
}

.box-quizz .row2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.box-quizz .row2 #titulo{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
}
.box-quizz .row2 #titulo p:nth-child(1){
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 2px solid var(--cor-primaria);
}
.box-quizz .row2 #titulo p:nth-child(2){
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.box-quizz .row2 .box-timer {
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}



.box-quizz .row2 .box-timer .div-img {
    background: var(--cor-primaria);
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    gap: 0.2rem;
}
.box-quizz .row2 .box-timer .div-img img {
    color: wheat !important;
}
.box-quizz .row2 .box-timer .div-img #mostrador-tempo{
    font-size: 1rem;
    color: white;
}
.box-quizz .row2 .box-timer #timer{
    width: 100%;
    height: 100%;
    border: var(--border-01);
    border-radius: 2px;
}
.box-quizz .row2 .box-timer .timerAtivo {
    position: relative;
    height: 100%;
    width: 100%;
    
}
.box-quizz .row2 .box-timer .timerAtivo::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    animation: timer 20s linear infinite;
    background: var(--cor-primaria);
}

@keyframes timer {
    to {
        width: 0%;
    }
}





.box-quizz .row3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box-quizz .row3 .opcao {
    font-size: 1.25rem;
    padding: 1% 3%;
    border: var(--border-01);
    background: white;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: 0.2s;
}
.box-quizz .row3 .opcao:hover{
    background: #f1f1f179 !important;
    scale: 1.01;
}

.row3 .certa {
    background: var(--cor-certa) !important;
    animation: certa 0.8s ease-in-out;
}

.row3 .errada {
    background: var(--cor-errada) !important;
}


@keyframes certa {
    0% {
        transform: translateX(10%);
    }
    20% {
        transform: translateX(-5%);
    }
    40% {
        transform: translateX(2%);
    }
    60% {
        transform: translateX(-1%);
    }
    80% {
        transform: translateX(1%);
    }
    100% {
        transform: translateX(0%);
    }
}

#pop-up-fim{
    width: 500px;
    height: 400px;
    background: white;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    outline: none;
    border:none;
    border-radius: 5px;
    animation: popupFim 0.3s ease-out forwards;
    z-index: 100;
        box-shadow: 0 8px 25px rgba(0,0,0,0.3);


}
@keyframes popupFim {
    0% {
        top: 52%;
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
    }
    100% {
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
#pop-up-fim::backdrop{
    background: rgba(0, 0, 0, 0.705);
    backdrop-filter: blur(5px);      /* aplica o blur */

}
#pop-up-fim #content-popup{
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
#pop-up-fim p{
    font-size: 1.5rem;
}
#pop-up-fim button{
    cursor: pointer;
    background: var(--cor-primaria);
    color: white;
    font-size: 1.4rem;
    padding: 1% 3%;
    border-radius: 5px;
}
@media screen and (max-width: 1400px){
    .box-quizz {
        min-width: 80vw;

    }
}